Skip to content
Features Business Explore Marketplace Pricing
This repository
Search
Sign in or Sign up
 Watch 1  Star 0  Fork 0 JHuertasOzuna/WebApiIn6am
 Code  Issues 0  Pull requests 0  Projects 0 Insights 
Branch: master Find file Copy pathWebApiIn6am/views/index.ejs
93560c8  a day ago
 JavierHuertas Segunda clase
0 contributors
RawBlameHistory     
43 lines (41 sloc)  1.53 KB
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse sticky-top">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/">Web Api Agenda</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/generate/token">Generar Token</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/doc">Documentacion</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container main-container">
		<div class="row justify-content-center">
			<div class="col-4 text-center">
				<h1>Web API</h1>
				<hr>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</body>
</html>
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help